{% load static %}

{% block css %}
<style>
    .form-container {
        background-color: #f8f9fa;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-title {
        color: #343a40;
    }

    .form-section-title {
        color: #495057;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .main-container {
        margin-top: 80px;
        /* Ajuste el valor según el espacio deseado */
    }

    .table-container {
        margin-top: 40px;
    }

    .table thead th {
        background-color: #343a40;
        color: #fff;
    }

    .table tfoot td {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block contenido %}
<div class="container main-container">
    <div class="form-container">
        <h1 class="form-title mb-4">Orden de Compra</h1>

        <form method="post">
            {% csrf_token %}
            <table>
                {{ form }}
                
                <tr>
                    <th>Subtotal:</th>
                    <td><span id="subtotal">0</span></td>
                </tr>
                <tr>
                    <th>IVA:</th>
                    <td><span id="iva">0</span></td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td><span id="total">0</span></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary mt-3">Crear Orden</button>
        </form>
        <a href="{% url 'producto' %}" class="btn btn-secondary mt-3">Ir a la página de productos</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const productosSelect = document.querySelector('select[name="productos"]');
        const subtotalField = document.getElementById('subtotal');
        const ivaField = document.getElementById('iva');
        const totalField = document.getElementById('total');

        productosSelect.addEventListener('change', updateTotals);

        function updateTotals() {
            let subtotal = 0;
            for (let option of productosSelect.selectedOptions) {
                const precioUnitario = parseFloat(option.getAttribute('data-precio'));
                const cantidad = parseInt(option.getAttribute('data-cantidad'));
                subtotal += precioUnitario * cantidad;
            }
            const iva = subtotal * 0.19;
            const total = subtotal + iva;

            subtotalField.textContent = subtotal.toFixed(2);
            ivaField.textContent = iva.toFixed(2);
            totalField.textContent = total.toFixed(2);
        }

        // Inicializar los valores cuando la página se carga
        updateTotals();
    });
</script>
{% endblock %}